
[*]
indent_style = space
indent_size = 4
tab_width = 4

[*.cs]
# ReSharper properties
resharper_instance_members_qualify_declared_in = base_class
resharper_keep_existing_attribute_arrangement = false
resharper_keep_existing_expr_member_arrangement = false
resharper_keep_existing_linebreaks = false
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_field_attribute_on_same_line = false
resharper_wrap_before_arrow_with_expressions = true
